<div class="section_title">
    <h1>Your Squares</h1>
</div>
<div class="contents_square">
    <p>Find all squares that you subscribed or created.</p>
    <%= link_to '<button class="btn btn-primary" type="button" name="button">New Square</button>'.html_safe, new_square_path%>
</div>
<%= render @squares %>

