<div id="main-banner" class="jumbotron">
  <h1 class="display-4">Welcome to Dotoree</h1>
  <% if current_user %>
      <p class="lead"> Hello, <%= current_user.name %>. You can see your squares, or you can also create new square. </p>
  <% else %>
      <p class="lead"> You can sign-up for free with your e-mail account. Already member? please log in. </p>
  <% end %>
  <hr class="my-4">
    <p>
        Dotoree is discussion board web application <br>
        see about page to find more information. <br>
        You can sign-in for free with your e-mail account.
    </p>
  <p class="lead">
    <%= link_to '<button class="btn btn-primary" type="button" name="button">Learn more</button>'.html_safe, about_path%>
  </p>
</div>