.comment_line {
    
    background-color: #cccccc;
    padding: 3px;
}

.comment {
    border: 1px solid;
    border-color: #555555;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 3px;
}
